<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href={% static "css/inicio.css" %}>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<form action="#" method="POST">
		<div class="caixa-do-login">
			<h1>Iniciar sesion</h1>

			<div class="form">
				<div class="item">
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					<input type="text" placeholder="Usuario" name="username" id="user">
				</div>
				<div class="item">
					<i class="fa fa-key" aria-hidden="true"></i>
					<input type="password" placeholder="password" name="password" id="passw">
				</div>
			</div>
			<button type="submit">Iniciar sesión</button>
		</div>
				
	</form
</body>
</html>
