<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reservas de locales UES</title>
	<link rel="stylesheet" href="static/estilos.css">
	

</head>
<body>
	<h1>TechnoAPP</h1>
	<div id="contenedor">
		<header>
			<h1>Facultdad de ingenieria y arquitectura</h1>
		</header>

		<nav>
			<ul>
			<li>Inicio</li>
			<li>Locales</li>
			<li>Reservar Locales</li>
			<li>Iniciar Sesion</li>
		</nav>
		<div class="clearfix"></div>
		<section>
			Se muestran los siguientes locales disponibles:
		</section>

		<aside>
			Localizacion de locales
		</aside>
		<div class="clearfix"></div>
		<footer>
			<small> TechnoAPP&COPY;, Derechos Reservados </small>
		</footer>
	</div>
</body>
</html>
